/* Variables */
$color-black: #000;
$color-white : #fff;
$color-offwhite:#fffcf8;
$color-offblack:#505050;
$color-blue : #4e4e70;
$color-gray : #8c8c8c;
$color-red : #ff8076;

$break-small: 550px;
$break-medium: 786px;
$break-large: 1200px;
$border-radius:15px;
$block-padding:30px;

/* font properties */
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
.fs10 {font-size: $fs10;}
.fs12 {font-size: $fs12;}
.fs14 {font-size: $fs14;}
.fs16 {font-size: $fs16;}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius:50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
  border-radius:50px;
}
/* Imports */
@import 'normalize';
@import 'slick';
@import 'slick-theme';

/*
	FONTS:
	font-family: 'Rozha One', serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Arapey', serif;
*/

/* Typography */
*{
	margin:0;
	padding: 0;
}
html{font-size:16px;}
body{
	font-family: 'Nunito', sans-serif;
	background: $color-offwhite;
	color:$color-black;
	font-weight: normal;
	font-size: 2.5rem;
	color: $color-offblack;
	font-weight: 200;
	&.loading{
		// overflow: hidden;
	}
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Rozha One', serif;font-weight: normal;
	line-height: 0.9;
	margin-bottom: 30px;
}
p{margin-bottom:30px}

/* General CSS */
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.h100{height:100vh;}
.img-center{display:block;margin:0 auto}
img{max-width:100%;}

.mb-0{margin-bottom: 0;}

.bold{font-weight: 600;}

.font-italic{
	font-family: 'Arapey', serif;
	font-style: italic;
}

.color-red{color: $color-red;}

.link{
	color: $color-red;
	text-decoration: none;
}

.fill-btn{
	display: block;
	margin:0 auto;
	width: fit-content;
	padding: 5px 30px;
	background: $color-red;
	border:solid 1px $color-red;
	color: $color-offwhite;
	font-size: 1.8rem;
	text-decoration: none;
	font-family: 'Rozha One', serif;
	&:hover{
		background: $color-offwhite;
		color: $color-red;
	}
}


.hiddenBlock{
	font-size:30px;
	opacity: 0;
	font-family: 'Arapey', serif;
    font-style: italic;
	.part2{
		opacity: 0;
		&.active{
			opacity: 1;
		}
	}
	&.active{
		opacity: 1;
	}
}

.headingBlock{
	height: 95vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	flex-direction: column;
	h2{
		@include transition(1s ease all);
		opacity: 0;
		padding-bottom: 150px;
	}
	&.active{
		h2{
			opacity: 1;
		}
	}
	.step2{
		opacity: 0;
		@include transition(1s ease all);
		&.active{
			opacity: 1;	
		}
	}
	
	.activator,.deactivator{
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		top:25%;
	}
	.deactivator{top:75%;}
	.show-1{top:0}
	.hide-2{top:100%}
}

/* Header */
.main-header{
	position: fixed;
	background: $color-offwhite;
	width: 100%;
	top:0;
	height: 158px;
	left: 0;
	z-index: 100;
	font-size: 1rem;
	@include transition(1s ease all);
	.row{
		padding:50px 0;
	}
	.container,.row{
		height: 100%;
	}
	.font-italic,.logo{
		opacity: 1;
		@include transition(0.3s ease all);
	}
	#headerTitle{
		position: absolute;
		width: 100%;
		text-align: center;
		color: $color-red;
	}
	#logo{
		width: 350px;
		margin: 0 auto;
		display: block;
	}
	&.on-load{
		height:100vh;
		.font-italic,.logo{
			opacity: 0;
		}
	}
}

/* Footer */
.main-footer{
	padding:20px 0;
	font-size:1rem;
	p{margin-bottom: 0;}
}

/* Pointers */
.main-pointers{
	margin:250px auto;
}
.pointers{
	list-style: none;
	font-size: 5rem;
	font-family: 'Rozha One', serif;
	li{
		margin-top:-55px;
		span{
			line-height: 0;
		}
		.left{
			color: $color-offblack;
			margin-right:5px;
		}
		.right{
			color: $color-gray;
			margin-left:5px;
		}
	}
}

/* Introduction */
.text-rotate{
    transform: rotate(-90deg) translateX(-50%) translateY(-271px);
    display: block;
    position: absolute;
    left: 0px;
    font-size: 1rem;
    width: 500px;
    margin-top: 5px;
    text-align: right;
}

/* Accordians */
.accordian-section{
	padding: 50px 0;
	position: relative;
	&:before{
		content:'';
		display: block;
		height:5px;
		width: 100%;
		border-bottom:solid 1px $color-offblack;
		border-top:solid 1px $color-offblack;
		position: absolute;
		bottom:0;
		display: none;
	}
	.accordian-title,.accordian-content{
		width: 50%;
	}
	.accordian-title{
		color: $color-red;
		margin-bottom:30px;
	}
	.accordian-btn{
		color: $color-red;
		position: relative;
		font-size: 2rem;
		cursor: pointer;
	}
	.accordian-content{
		display: none;
		p:last-child{
			margin-bottom: 0;
		}
	}
}

/* Popup */
.popup{
	background: rgba(255,255,255,0.8);
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	z-index: 200;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	@include transition(0.3s ease all);
	&.active{
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}
}
.cta-block{
	width: 300px;
	height:500px;
	position: relative;
	background: $color-offwhite;
	border:solid 1px $color-offblack;
	margin:0 auto;
	display: block;
	padding:30px;
	h3{
		font-size: 3rem;
	}
	p{
		font-size: 0.7rem;
	}
	.fill-btn{
		position: absolute;
		bottom:50px;
		left:0;
		right:0;
		margin:auto;
	}

}

/* Background Block */
#scrollActivator{
	z-index: 2;
	position: relative;
}
.background-block{
	position: fixed;
	top:0;
	right: 0;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	.bg-content{
		display: none;
		&.active{
			display: block;
		}
	}
}

/* CTA */
.cta-section{
	margin:250px auto;
	position: relative;
	z-index: 2;
}

.trigger{
	color: $color-red;
}



@media screen and (max-width: 500px) {

}




