/* Variables */
$color-black: #000;
$color-white : #fff;
$color-offwhite:#fffcf8;
$color-offblack:#505050;
$color-blue : #4e4e70;
$color-gray : #8c8c8c;
$color-red : #ff8076;

$break-small: 550px;
$break-medium: 786px;
$break-large: 1200px;
$border-radius:15px;
$block-padding:30px;

/* font properties */
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
.fs10 {font-size: $fs10;}
.fs12 {font-size: $fs12;}
.fs14 {font-size: $fs14;}
.fs16 {font-size: $fs16;}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius:50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
  border-radius:50px;
}

/* Imports */
@import 'normalize';

/*
	FONTS:
	font-family: 'Rozha One', serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Arapey', serif;
*/

/* Typography */
*{
	margin:0;
	padding: 0;
}
html{font-size:16px;}
body{
	font-family: 'Nunito', sans-serif;
	background: $color-offwhite;
	color:$color-black;
	font-weight: normal;
	font-size: 2.5rem;
	color: $color-offblack;
	font-weight: 200;
	&.loading{
		// overflow: hidden;
	}
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Rozha One', serif;font-weight: normal;
	line-height: 0.9;
	margin-bottom: 30px;
}
p{margin-bottom:30px;}

/* Pace.js */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	background: $color-offwhite;
	z-index: 1200;
	.pace-progress{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0) !important;
		&:after{
			content: '';
			display: block;
			position: fixed;
			top: 45%;
			left: 0;
			content: attr(data-progress-text);
			font-size: 3rem;
			line-height: 1;
			text-align: center;
			width: 100%;
			color: $color-red;
		}
	}
	&.pace-inactive{
		display: none;
	}
}
  
/* Loader Button */
.loader{
	background-color: $color-offwhite;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
	align-items: center;
	.video-play-button {
		display: block;
		width: 50px;
		height: 50px;
		background: $color-red;
		border-radius: 50%;
		position: relative;
		padding-left: 18px;
		box-sizing: border-box;
		box-sizing: -moz-border-box;
		box-sizing: -webkit-border-box;
		padding-top: 14px;
		&:before,&:after{
			content: "";
			position: absolute;
			z-index: 0;
			top:25px;
			left:25px;
			display: block;
			width: 50px;
			height: 50px;
			background: $color-red;
			border-radius: 50%;
		}
		&:before{
			animation: pulse-border 1500ms ease-out infinite;
		}
		&:after{
			transition: all 200ms;
			top: 0;
    		left: 0;
		}
		&:hover{
			&:after,&:before{
				background-color: $color-offblack;
			}
		}
		span{
			display: block;
			position: relative;
			z-index: 3;
			width: 0;
			height: 0;
			border-left: 16px solid #fff;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
	}
}


@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

/* General CSS */
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.h100{height:100vh;}
.img-center{display:block;margin:0 auto}
img{max-width:100%;}

.mb-0{margin-bottom: 0;}

.bold{font-weight: 600;}

.font-italic{
	font-family: 'Arapey', serif;
	font-style: italic;
}

.color-red{color: $color-red;}

.link{
	color: $color-red;
	text-decoration: none;
}

.fill-btn{
	display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 5px 23px;
    background: #ff8076;
    color: #fffcf8;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Rozha One', serif;
    min-width: 184px;
	&:hover{
		background: $color-offblack;
	}
}


.hiddenBlock{
	font-size:30px;
	opacity: 0;
	font-family: 'Arapey', serif;
    font-style: italic;
	.part2{
		opacity: 0;
		&.active{
			opacity: 1;
		}
	}
	&.active{
		opacity: 1;
	}
}

.headingBlock{
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	text-align: center;
	h2{
		@include transition(2s ease all);
		opacity: 0;
		padding: 0 30px;
		margin:0;
	}
	&.active{
		h2{
			opacity: 1;
		}
	}
	.step2{
		opacity: 0;
		@include transition(2s ease all);
		&.active{
			opacity: 1;	
		}
	}
	
	.activator,.deactivator{
		width: 100%;
		height: 2px;
		display: block;
		position: absolute;
	}
	.deactivator{top:75%;}
	.show-1{top:10%}
	.show-2{top:30%}
	.hide-1{top:55%}
	.hide-2{top:70%}
}

/* Header */
.main-header{
	position: fixed;
	background: $color-offwhite;
	width: 100%;
	top:0;
	height: 158px;
	left: 0;
	z-index: 100;
	font-size: 1rem;
	@include transition(2s ease all);
	.row{
		padding:50px 0;
	}
	.container,.row{
		height: 100%;
		width:100%;
	}
	.font-italic,.logo{
		opacity: 1;
		font-size: 18px;
		display: block;
		margin-top: 24px;
		@include transition(0.3s ease all);
	}
	.font-italic{
		transition-delay: 2s;
		-moz-transition-delay: 2s;
		-webkit-transition-delay: 2s;
	}
	#headerTitle{
		position: absolute;
		width: 100%;
		text-align: center;
		color: $color-red;
		font-size: 30px;
		line-height: 1.3;
		left: 0;
		right: 0;
		margin:auto;
	}
	#logo{
		width: 350px;
		margin: 0 auto;
		display: block;
	}
	&.on-load{
		height:100vh;
		.font-italic,.logo{
			opacity: 0;
		}
	}

	.overlay-header{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		.row{
			margin:0;
		}
	}
}

/* Footer */
.main-footer{
	padding: 20px 30px;
    font-size: 14px;
    line-height: 1.4;
	p{margin-bottom: 0;}
}

/* Pointers */
.main-pointers{
	margin:28% auto 0px;
}
.pointers{
	list-style: none;
	font-size: 5rem;
	font-family: 'Rozha One', serif;
	li{
		margin-top:-55px;
		.left{
			color: $color-offblack;
			margin-right:5px;
		}
		.right{
			color: $color-gray;
			margin-left:5px;
		}
	}
}

/* Introduction */
.text-rotate{
    transform: rotate(-90deg) translateX(-50%) translateY(-271px);
    display: block;
    position: absolute;
    left: -10px;
    font-size: 1rem;
    width: 500px;
    margin-top: 5px;
	text-align: right;
	font-family: 'Arapey', serif;
    font-style: italic;
	&.off{
		left:5px;
	}
}

/* Accordians */
.accordian-section{
	padding: 50px 0;
	position: relative;
	&:before{
		content:'';
		display: block;
		height:5px;
		width: 100%;
		border-bottom:solid 1px $color-offblack;
		border-top:solid 1px $color-offblack;
		position: absolute;
		bottom:0;
		display: none;
	}
	.accordian-title,.accordian-content{
		width: 50%;
	}
	.accordian-title{
		color: $color-red;
		margin-bottom:30px;
	}
	.accordian-btn{
		color: $color-red;
		position: relative;
		font-size: 2rem;
		cursor: pointer;
	}
	.accordian-content{
		display: none;
		display: block;
		p:last-child{
			margin-bottom: 0;
		}
	}
}

/* Popup */
.popup{
	background: rgba(255, 252, 248, 0.9);
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	z-index: 200;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	@include transition(0.3s ease all);
	&.active{
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}
}
.cta-block{
	width: 350px;
	height:555px;
	position: relative;
	background: $color-offwhite;
	margin:0 auto;
	display: block;
	padding:53px 45px 45px;
	text-align: left;
	border: solid 1px #f1f1f1;
	h3{
		font-size: 3rem;
	}
	p{
		font-size: 14px;
	}
	.fill-btn{
		position: absolute;
		bottom:45px;
		left:45px;
		right:auto;
		margin:auto;
	}

}

/* Background Block */
#scrollActivator{
	z-index: 2;
	position: relative;
}
.background-block{
	position: fixed;
    top: 50px;
    right: 100px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    bottom: 0;
    margin: auto;
	.share-overlay{
		position: absolute;
		left: auto;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 252, 248, 0.8);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		ul{
			width: 100%;
			text-align: center;
			li{
				display: inline-block;
				margin: 0px 12px;
				a{
					padding: 8px;
					display: block;
					svg{
						height: 45px;
						fill: $color-offblack;
					}
					&:hover{
						svg{
							fill:$color-red;
						}
					}
				}
			}
		}
	}
	.bg-content{
		display: none;
		align-self: flex-end;
		max-width: 100%;
		position: relative;
		&:after{
			content: '';
			background: url(../img/icon.png) bottom right no-repeat;
			position: absolute;
			bottom:0;
			right:0;
			width:65px;
			height: 65px;
			background-size: contain;
		}
		video{
			width: 100%;
			display: block;
		}
		img{
			width: 100%;
			display: block;
		}
		&.active{
			display: block;
		}
	}
	&.active{
		&:hover{
			.share-overlay{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/* CTA */
.cta-section{
	margin:0px auto;
	position: relative;
	z-index: 10;
	.row{
		height: 100vh;
	}
}

.trigger{
	color: $color-red;
	&.active.text{
		color: $color-white;
		background: $color-red;
		text-shadow: none;
		position: relative;
		&:after{
			background: $color-red;
			content: '';
			position: absolute;
			display: block;
			display: none;
			left: -5px;
			width: calc(100% + 10px);
			z-index: -1;
			height: 100%;
			top: 0;
		}
	}
}



@media screen and (max-width: 1025px) {
	.container{
		max-width: 85%;
	}
	.pointers{
		font-size: 3.7rem;
		li{
			margin-top: -40px;
		}
	}

	.background-block{
		right: 50px;
		width: 400px;
		height: 400px;
	}
}
@media screen and (max-width: 769px) {
	.container{
		max-width: 95%;
	}
	.main-header .font-italic, .main-header .logo{
		font-size: 16px;
		margin-top:12px;
	}
	.text-rotate{
		display: none;
	}
	.background-block{
		right: 50px;
		width: 300px;
		height: 300px;
	}
	.pointers li{
		margin-top:0;
		margin-bottom:40px;
	}
	.pointers li .left, .pointers li .right{
		display: block;
		line-height: 1;
	}
}

.hide-desktop{display: none;}
@media screen and (max-width: 650px) {
	.container{max-width:100%}
	.hide-desktop{display: block !important;}
	.hide-mobile{display: none !important;}

	.pointers{
		text-align: left;
		span{
			margin:0 !important;
		}
	}

	.loaded{
		#logo{
			opacity: 0;
			visibility: hidden;
			@include transition(0.3s ease all);
		}
	}
	
	#main-header{
		#logo_mobile{
			position: absolute;
			left: 30px;
			top: 0;
			width: 180px;
		}
		.mobile.link{
			position: absolute;
			right:0;
			top:8px;
			font-size: 12px;
			margin:0;
		}
	}
	.container{
		padding-right: 30px;
		padding-left: 30px;
	}
	body{
		font-size: 1.5rem;
	}
	.main-header{
		height: 86px;
		text-align: center;
		transition: 2s cubic-bezier(0.96, 0.81, 0.58, 1) all;
		.row{padding: 0;margin:0;position:relative;}
		.col-lg-6.col-md-4.text-center{
			position:unset;
		}
		#logo{
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
			margin:auto;
			width: 220px;
		}
		.font-italic{display: block;text-align: center;}
		#headerTitle{
			width: 200px;
		}
	}
	

	.main-pointers{
		margin-top:150px;
		li{
			margin-top: 20px;
			span{
				display: block;
				font-size: 2rem;
				line-height: 0.8;
			}
		}
	}

	.text-rotate{display: none;}

	.background-block{
		top: auto;
		bottom: 0;
		height: auto;
		width: 100%;
		z-index: 2;
		padding: 0 30px;
		right: 0;
		background: inherit;
		.share-overlay{
			width: 100%;
			height: 100%;
			margin:0;
			ul{
				li{
					a{
						svg{
							height: 30px;
						}
					}
				}
			}
		}
		.bg-content{
			background: #fffcf8;
			max-width: unset;
			margin: 0;
			width: 100%;
			padding: 0px;
			&:after{
				width: 50px;
				height: 50px;
			}
			img,video{
				max-width: 100%;
				margin: 0 auto;
				display: block;
			}
		}
	}

	.accordian-section {
		.accordian-title,.accordian-content{
			width: 100%;
		}
		.accordian-btn{
			font-size: 1.2rem;
		}
	}

	.popup{
		overflow: hidden;
		overflow-y: scroll;
		.col-md-4{
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.cta-block{
			width: 300px;
			height: 80vh;
			margin: 50px auto;
			padding: 30px;
			h3{
				font-size: 2rem;
			}
			.fill-btn{
				bottom: 30px;
				left: 30px;
			}
		}
	}
}