/* Variables */
$color-black: #000;
$color-white : #fff;
$color-offwhite:#fffcf8;
$color-offblack:#505050;
$color-blue : #4e4e70;
$color-gray : #8c8c8c;
$color-red : #ff8076;

$break-small: 550px;
$break-medium: 786px;
$break-large: 1200px;
$border-radius:15px;
$block-padding:30px;

/* font properties */
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
.fs10 {font-size: $fs10;}
.fs12 {font-size: $fs12;}
.fs14 {font-size: $fs14;}
.fs16 {font-size: $fs16;}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius:50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
  border-radius:50px;
}
/* Imports */
@import 'normalize';
@import 'slick';
@import 'slick-theme';

/*
	FONTS:
	font-family: 'Rozha One', serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Arapey', serif;
*/

/* Typography */
*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Nunito', sans-serif;
	background: $color-offwhite;
	color:$color-black;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6{ font-family: 'Rozha One', serif;font-weight: normal}

/* General CSS */
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.h100{height:100vh;}
.img-center{display:block;margin:0 auto}
img{max-width:100%;}

.bold{font-weight: 600;}


.color-red{color: $color-red;}

.link{
	color: $color-red;
	text-decoration: none;
}

/* Header */
.main-header{
	padding:50px 0;
	position: absolute;
	background: $color-offwhite;
	width: 100%;
	top:0;
	left: 0;
	z-index: 100;
}

/* Footer */
.main-footer{
	padding:20px 0;
}

/* Pointers */
.main-pointers{
	margin-top:190px;
}
.pointers{
	list-style: none;
	font-size: 4rem;
	font-family: 'Rozha One', serif;
	li{
		margin-top:-35px;
		span{
			line-height: 0;
		}
		.left{
			color: $color-offblack;
			margin-right:5px;
		}
		.right{
			color: $color-gray;
			margin-left:5px;
		}
	}
}

/* Accordians */

/* CTA */




@media screen and (max-width: 500px) {

}




